#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-root {
  display: flex;
  flex-direction: row;
}

.cv {
  background-color: white;
  min-width: 21cm;
  min-height: 29.7cm;
  margin-left: 16px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}

.personal {
  padding: 32px;
}
.section {
  padding: 16px 32px 0 32px;
}

.personal {
  background-color: #01358f;
}

.other-personal-info {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.name-role-block,
.contacts-block,
.website-location-block {
  display: flex;
  flex-direction: column;
  flex: auto;
}
