
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-root {
  display: flex;
  flex-direction: row;
}

.cv {
  background-color: white;
    min-width: 21cm;
  min-height: 29.7cm;
  margin-left: 16px;
}

.general-info {
  background-color: aquamarine;
}
