#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-root {
  display: flex;
  flex-direction: column;
}

.cv {
  display: flex;
  flex-direction: row;
}

.navigation,
.editor-section {
  border-radius: 12px;
}

.navigation,
.editor-section,
.cv-output {
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
  background-color: white;
}

.editor {
  min-width: 400px;
}

.editor-section {
  padding: 8px 20px 8px 20px;
  margin-bottom: 16px;
}

.editor-section-buttons {
  display: flex;
  justify-content: right;
}

.add-element-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-range {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
