.input-field {
  display: flex;
  flex-direction: column;
}

.input-field-label {
  margin: 0;
  padding: 8px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

.input-field-text {
  background-color: #e8e8e8;
  border: 1px solid #bbbbbb;
  color: #2c2c2c;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}