.input-field {
  display: flex;
  flex-direction: column;
}

.input-field-label {
  margin: 0;
  padding: 8px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
}

.input-field-text {
  background-color: #ffffff00;
  border: none;
  color: #080808;
  padding: 8px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}
